@import url('https://fonts.googleapis.com/css?family=Roboto');
.container{
    width: 70vw;
    display: inline-block;
    
   
    margin: 0 auto;
   
    box-shadow: 0px 0px 6px black;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;

}
.oir button{
  width: 250px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 7px black;
    align-content: center;
    
   
}
.oir button:hover{
    background-color: lime;
   

}
.oir button a p:hover{
   color: lime;
   

}
.ttt{
    height: 14vh;
}
.uuu{
    width: 30vw;
    display: inline-block;
    
   
    margin: 0 auto;
   
    box-shadow: 0px 0px 7px black;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;

}
.mkk{
    display: flex;
    justify-content: space-around;
}
.oii{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.oir{
   justify-content: center;
  
    display: block;
    
   
    margin: auto;
    box-shadow: 0px 0px 6px black;
    width:80vw;
}
.miss{
    width: 40vw;
}

.nit{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.uu{
    height: 20vh;
}
@media screen and (max-width:1000px ) {
    .mkk{
        display: grid;
    }
    .container{
        width: 90vw;
        display: inline-block;
        
       
        margin: 0 auto;
       
        box-shadow: 0px 0px 7px black;
        background-color: white;
        border-radius: 8px;
        margin-bottom: 20px;
    
    }
    .ttt{
        height: 9vh;
    }
    .uuu{
        width: 90vw;
        align-self: center;
       
       
        box-shadow: 0px 0px 7px black;
       
    
    }
    .oii{
        text-align: center;
        display: block;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .oir{
        text-align: center;
        display: block;
        justify-content: center;
        align-items: center;
        margin: auto;
        box-shadow: 0px 0px 6px black;
        width:90vw;
    }
}